<h1>Welcome to Quick Poker</h1>
<br>

<div class="row">
	<div class="col-sm-6">
	<p>
		Here we play Texas Hold Em, a popular style of Poker.  Quick Poker is a simple variation were we get you playing as quickly as possible! We have tables for four players where you guys can try and win as much money from your opponents as possible. We give you some free fake money to get started with.  Your goal is to try and win as much cash as possible.  Have fun!
	</p>
	<p>
		This web application was developed by <b>Dong Li, Silvio Huebner-Schurch, and Alejandro Munguia</b> as a term project in CSC 667: Internet Application Development at San Francisco State University taught by John Roberts in the Fall of 2014. 
	</p>
	</div>
	<div class="col-sm-6">
		<div class="hero-unit login-box">
			<center>
			<h3>Get Started</h3>
			<br>

			<% if current_user %>
				<%= button_to "Play Now", play_path, :class => "btn  btn-lg btn-block btn-danger login-button", :method => :get %>
				<br>
				<%= button_to "View Your Account", account_path, :class => "btn btn-lg btn-block btn-warning login-button", :method => :get %>
			<% else %>
				<%= button_to "Login", log_in_path, :class => "btn  btn-lg btn-block btn-primary login-button", :method => :get %>
				<br>
				<%= button_to "Sign Up for Free", register_path, :class => "btn btn-lg btn-block btn-success login-button", :method => :get %>
			<% end %>

			</center>
		</div>
	</div>
</div>	

