@import "bootstrap-sprockets";
@import "bootstrap";


.masthead {
  color:#222;
  background-image:url(image-path('banner_cards.jpg'));
  background-repeat:no-repeat;
  height: 200px;
}
 
.nav-text {
  font-size: 200%;
}

.nav-login-info {
  float: right;
  padding: 10px;
}


.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #222;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-form {
  background-color: #222;
  border-color: #9d9d9d;
}

.form-field {
  color: #000000;
}


body {
  color: #9d9d9d;   
  background-image: url(image-path('green_bg.jpg'));
  background-position: center;
}

