.game-frame {
  padding: 30px;
  color: inherit;
  background-color: #1a1a1a;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#opponents-row {
  height: 180px;
  background-color: #caede4;
  background-image:url(image-path('table_felt.jpg'));
}

.opponent {
  color: #FF9900;
  font-weight: bold;
  height: 180px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 6px solid #1a1a1a;
}

.turn-ind {
  border-bottom: 5px solid red;
  border-top: 5px solid red;
}

.op-left {
  border-right: 3px solid #1a1a1a;
}

.op-center {
  border-right: 3px solid #1a1a1a;
  border-left: 3px solid #1a1a1a;
}

.op-right {
  border-left: 3px solid #1a1a1a;
}

.card-img {
  width: 80px;
  height: 120px;
}

#game-row {
  height: 180px;
  background-image:url(image-path('table_felt.jpg'));
}

#stream-panel {
  padding-top: 20px;
}

#pot-status {
  color: #19FF19;
  font-weight: 800;
  font-size: 125%;
  margin-top: 15px;
  border: 10px solid #003300;
  border-radius: 100px;
  //background-image:url(image-path('table_felt.jpg'));
  height: 100px;
  width: 250px;
}

#pot-balance {
  text-align: center;
  padding-top: 12%;
}

#players-row {
  color: #FF9900;
  font-weight: bold;
  height: 200px;
  background-image:url(image-path('table_felt.jpg'));  
}

#my-cards {
  height: 200px;
  padding-top: 30px;  
}

#action-console {
  background-color: #1A1A1A;
  height: 200px;
  border-top-left-radius: 5px;
}


#stay {
  margin-top: 10px;
  background-color: orange;
}

#bet {
  background-color: red;
}

#fold {
  background-color: #0066CC;
}

#push-bet {
  background-color: red;
}

#go-back {
  background-color: #2EB82E;
}


.button {
  color: #1A1A1A;
  font-weight: bold;
  font-size: 125%;
  width: 175px;
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #222;
}

.join-observer-row {
  padding-top: 20px;
  position: relative;
}

.join-observer-box {
  border: 5px solid #1A1A1A;
  padding: 10px;
  height: 110px;
  width: 70%;
  margin: 0px auto 0px auto;
  color: inherit;
  background-color: #222222;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.join-observer-table {
  margin: 0px auto 0px auto;
}

.join-btn {
   color: #222222;
   background-color: red;
   font-size: 200%;
   font-weight: bold;
   width: 300px;
}

.observe-btn {
  color: #222222;
  background-color: #1919FF;
  font-size: 200%;
  font-weight: bold;
  width: 300px;
}

.action-panel {
  color: #1A1A1A;
}

#message {
  color: red;
  text-align: center;
  position: relative;
  top: 35%;
  text: 3em;
}

#message-row {
  height: 50px;
  background-color: #1A1A1A;
}

.chat-frame {
  padding: 10px;
  height: 280px;
  color: inherit;
  background-color: #1a1a1a;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.chats {
  background-color: black;
  width: 100%;
  height: 200px;
  padding: 10px;
  overflow: auto;
}

.chat-list {
  list-style-type: none;
}

.input-box {
  width: 940px;
}

.btn-send-chat {
  width: 85px;
  font-weight: bold;
}

.chat-input {
  margin-top: 15px;
  color: black;
  float: right;
  float: bottom;
}