#opponents-row {
  height: 200px;
  background-color: #caede4;
}

.opponent {
  height: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.card-img {
  width: 80px;
  height: 120px;
}

#game-row {
  height: 200px;
  background-color: #9ddeba;
}

#stream-panel {
  padding-top: 20px;
}

#pot-status {
  border: 1px solid black;
  border-radius: 100px;
  background-color: yellow;
  height: 200px;
}

#pot-balance {
  text-align: center;
  padding-top: 75px;
}

#players-row {
  height: 200px;
  background-color: #caede4;  
}

#my-cards {
  height: 200px;
  padding-top: 30px;  
}

#action-console {
  background-color: gray;
  height: 200px;
}

#stay {
  background-color: blue;
  height: 50px;
}

#bet {
  background-color: red;
  height: 50px;
}

#fold {
  background-color: yellow;
  height: 50px;
}

.button {
  width: 200px;
  height: 75px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 2em;
}

.button-text {
  padding-top: 10px;
  color: white;
}

.join-observer-row {
  position: relative;
}

.join-button {
   background-color: blue;
   position: relative;
   top: 35%;
}

.observe-button {
  background-color: green;
  position: relative;
  top: 35%;
}

.action-panel {
  color: black;
}

#message {
  color: red;
  text-align: center;
  position: relative;
  top: 35%;
  text: 3em;
}

#push-bet {
  background-color: red;
  height: 50px;
  margin-bottom: 15px
}

#go-back {
  background-color: yellow;
  height: 50px;
}

#message-row {
  height: 50px;
  background-color: white;
}

